<!DOCTYPE html>
<html>
<head>
    <title>Chess Game</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 id="top_section">Top Section</h1>
    <div id="main-content">
        <div id="left_section">
        </div>
        <div id="middle_section">
            <div id="chessboard"></div>
        </div>
        <div id="right_section">
            <!-- Right section content -->
        </div>
    </div>
    <div id="bottom_section">
        <h2></h2>
        <button onclick="undoMove()" id="undo_button">Undo</button>
        <button onclick="startGame()" id="start_button">Reset Game</button>
        <button><a href="/">Go Back</a></button>
    </div>
    <script src="/static/script.js"></script>
</body> 
</html>
